* {box-sizing: border-box; 
    margin: 3px;
     padding: 3px;}
    
html, body {
    width:100%; 
    height:100%;
    display: flex;
}

body{
    flex:1;
}

#main-container{
    display:flex;
    flex-direction:column;
    border: 2px solid red;
    flex: 1;
}

footer, header {
    background-color: darkslategrey;
    color: white;
    flex: 1;
    display:flex;
    justify-content: center;
}

#main-section {
    background-color: darkkhaki;
    flex: 10;
    display: flex;
    flex-direction: column;
}

#nav-section {
    background-color: beige;
    border: 1px dotted black;
    border-radius: 10px;
    flex:1;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    padding: 0 20px;
    margin: 0 20px;

}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    border-radius: 25%;
    flex:1;
}

label{
    display: block;
}

legend{
    background-color: lightgrey;
    border-radius: 10px;;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    flex:1;
}


fieldset{
    display: flex;
    border: none;
    justify-content: center;
    align-items:center;
    background-color: white;
    border-radius: 10px;
}


header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:0.7em;
}

h2{
    background-color: beige;
    color: black;
    border-radius: 10px;
}

#highlighted-words{
    background-color: yellow;
    border-radius: 10px;
}


form {
    display: flex;
    justify-content: space-evenly;
}

#content-section {
    border: 1px round red;
    background-color: #b1c1c0;
    display: flex;
    border-radius: 10px;
    flex:10;
    flex-direction: row;
}

#game-menu {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    flex:1;
}

#timer {
    background-color: darkslategrey;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
}

h4 {
    margin: 20px;
}

#game-menu p {
    margin-bottom: 5px;
}

#table-buttons button {
    border-radius: 5px;
    padding: 5px;
}

#start-button {
    border-radius: 5px;
    padding: 5px;
}

#game-section {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    flex:2;
}

#tiles-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    flex-direction: column;
}

#tiles-area > div{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tiles-area > div > div{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

#tiles-area > div > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    background-color: white;
    
}


#above-colors{
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    flex: 3;
}

#submit-btn{
    border-radius: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

#submission-area{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

#difficulty-div {
    display:flex;
}

ul, #difficulty-div {
    border: 2px dotted red;
    border-radius: 10px;
}

#change-with-colors{
    border-radius: 10px;
}

#submission-area button {
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: 0.5px solid lightgrey;
}

td {
    background-color: lightcyan;
    border: 0.5px solid lightgrey;
    text-align: center;
}

th {
    color: white;
    background-color: green;
    border: 0.5px solid lightgrey;
    padding: 10px;
}