@media (width <= 650px) {
    #game-section, #game-menu{
        overflow: scroll;
        flex-direction: column;
    }

    #content-section{
        overflow: scroll;
        flex-direction: column;
    }

}